.announcement-blog {
    margin-top: 70px;
}

.announcement-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--customsDefaultBg);
    border-radius: 20px;
    width: 95%;
    margin: 25px auto;
    padding: 15px 30px;
    transition: background-color 0.4s ease, box-shadow 0.4s ease;
    cursor: pointer;
}

.announcement-flex:hover {
    background-color: #dcdfe5;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.announcement-title, .announcement-date {
    font-weight: 600;
    font-size: 28px;
    margin: 0;
}

.announcement-title {
    color: var(--menuColor);
}

.announcement-date {
    color: var(--newsDateColor);
    margin-top: 8px;
}

.announcement-download {
    border: 1px solid var(--postalServicesBorder);
    padding: 11px 35px;
    background-color: var(--aboutColorWhite);
    color: var(--postalServicesBorder);
    border-radius: 35px;
    transition: all 0.3s ease;
    font-weight: 600;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    position: relative;
}

.announcement-download .arrow-icon {
    display: inline-block;
    transform: translateY(-12px) scale(0.8);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
    font-size: 26px;
    color: var(--postalServicesBorder);
}

.announcement-flex:hover .arrow-icon {
    transform: translateY(0) scale(1.1);
    opacity: 1;
}

@media(max-width:992px) {
    .announcement-flex {
        display: block;
        width: 100%;
        text-align: center;
    }

    .announcement-title, .announcement-date {
        font-size: 24px;
    }

    .announcement-download {
        padding: 0 5px;
        margin: 0 auto;
    }
}