.apply {
    margin-top: 100px;
}

.cv {
    margin: 10px 40px;
}

.apply-title {
    font-weight: 600;
    font-size: 45px;
    color: var(--menuColor);

}

.send-cv {
    width: 50%;
    margin: 10px auto;
}

.send-cv .form-control {
    padding: 28px 16px;
    font-size: 24px;
    font-weight: 400;
    color: rgba(117, 125, 138, 1);
}

.real-upload {
    display: none;
}

.custom-file-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border: 2px dashed var(--postalServicesBorder);
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    color: var(--menuColor);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-size: 36px;
    margin-top: 37px;
}

.custom-file-upload:hover {
    background-color: rgba(237, 94, 59, 0.05);
    transform: scale(1.02);
    box-shadow: 0 0 12px rgba(237, 94, 59, 0.2);
}

.upload-icon {
    width: 50px;
    height: 50px;
}

.upload-warning {
    color: #000;
    font-size: 24px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    margin: 37px 0 28px;

}

.warning-icon {
    width: 66px;
    height: 44px;
}

.confirm-btn {
    width: 100%;
    padding: 10px 0;
    font-size: 24px;
    font-weight: 700;
    background-color: var(--aboutColorWhite);
    color: var(--aboutColor);
    border: 1px solid var(--postalServicesBorder);
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.confirm-btn:hover {
    background-color: var(--postalServicesBorder);
    color: var(--whiteColor);
    box-shadow: 0 0 12px rgba(237, 94, 59, 0.3);
}

@media(max-width: 992px) {
    .cv {
        margin: 10px;
    }

    .apply {
        margin-top: 30px;
    }

    .apply-title {
        font-size: 26px;
    }

    .send-cv {
        width: 100%;
    }

    .send-cv .form-control {
        padding: 16px 16px;
        font-size: 20px;
    }

    .custom-file-upload {
        font-size: 26px;
    }

    .upload-warning {
        font-size: 20px;
    }
}