.online-payment-row {
    margin: 80px auto;
    max-width: 83%;
}

.online_payment_blog {
    background-color: var(--aboutColor);
    width: 86%;
    height: 301px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    transition: all 0.4s ease;
}

.online_payment_blog:hover {
    transform: translateY(-10px);
}

.online_payment_abs {
    position: absolute;
    top: -15%;
    width: 94px;
    height: 94px;
    background-color: var(--termsColor);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.online_payment_blog:hover .online_payment_abs {
    background-color: var(--activeColor);
    transform: rotate(360deg);
}

.online_payment_blog:hover .online_payment_abs img {
    filter: invert(1);
    transition: filter 0.4s ease;
}

.online_payment_title {
    color: var(--aboutColorWhite);
    font-weight: 600;
    font-size: 30px;
    margin-top: 40px;
    transition: color 0.4s ease;
    text-align: center;
}

.online_payment_blog:hover .online_payment_title {
    color: var(--blackColor);
}

.online_payment_more {
    text-decoration: underline;
    color: var(--aboutColorWhite);
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 10px;
    transition: all 0.4s ease;
    position: relative;
    padding-left: 0;
}

.online_payment_blog:hover .online_payment_more {
    padding-left: 12px;
    color: var(--whiteColor);
}

.online_payment_more::after {
    content: "→";
    position: absolute;
    right: -20px;
    opacity: 0;
    transition: all 0.4s ease;
}

.online_payment_blog:hover .online_payment_more::after {
    right: -30px;
    opacity: 1;
}


.online-payment-row2 {
    max-width: 100%;
}

.online_payment_blog2 {
    width: 90%;
}

.online_payment_more2 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}



.online-payment-row2 .online_payment_title {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.online_payment_more2 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 10px;
    color: var(--aboutColorWhite);
}

.online-payment-row2 {
    margin: 80px 0;
}

.financial-calculator__form .form-group {
    margin: 7px 0;
}

#financeCalculator select option[value=""] {
    color: var(--placeholderColor);
    font-style: italic;

}

#financeCalculator select {
    color: var(--placeholderColor);
    font-weight: 400;
    font-size: 24px;
}

#financeCalculator .form-control {
    color: var(--placeholderColor);
    font-weight: 400;
    font-size: 24px;
    padding: 14px;
}

.custom-select-wrapper {
    position: relative;
}

.custom-arrow {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    width: 10px;
    height: 10px;
    pointer-events: none;
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='10' viewBox='0 0 24 24' width='10' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
}

.custom-select-wrapper.open .custom-arrow {
    transform: translateY(-50%) rotate(180deg);
}

#financeCalculator select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('../../img/down.svg');
    background-repeat: no-repeat;
    background-position: right 12px center;
    padding-right: 35px;
    cursor: pointer;
}

.calculator-note {
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.calculator__result__text {
    margin: 0 10px;
}

.calculator-note .calculator-note-text {
    font-weight: 300;
    font-size: 15px;
    margin: 9.63px;
}

.calculator-btn {
    background-color: var(--activeColor);
    margin: 15px auto;
    padding: 12px;
    transition: all .6s ease-in-out;
    font-size: 20px;
}

.calculator-btn:hover {
    background-color: var(--activeColor);
    transform: scale(1.03);
}

.exchange_transactions_bg {
    width: 65%;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--aboutColor);
}

.exchange-box {
    background: var(--activeColor);
    padding: 30px;
    border-radius: 10px;
    width: 52%;
    margin: 50px auto 0;
    color: var(--blackColor);
}

.switch-btn {
    cursor: pointer;
}

.currency {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
    gap: 10px;
}

.exchange_transactions input[type="number"] {
    font-size: 24px;
    color: var(--aboutColorWhite);
    background-color: transparent;
    border: none;
    text-align: right;
    outline: none;
    box-shadow: none;
    padding-bottom: 5px;
    -moz-appearance: textfield;
}

.exchange_transactions input[type="number"]::-webkit-outer-spin-button,
.exchange_transactions input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.exchange_transactions select {
    background-color: transparent;
    color: var(--whiteColor);
    border: none;
    font-family: var(--fontPoppins);
    font-weight: 600;
    font-size: 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px;
    cursor: pointer;
    outline: none;
    box-shadow: none;
}

.exchange_transactions select option {
    background-color: var(--activeColor);
    color: var(--whiteColor);
    padding: 10px;
    font-size: 18px;
}

.exchange_transactions select option:hover {
    background-color: var(--changeColor);
    color: var(--whiteColor);
}

.exchange_transactions select:focus option:checked {
    background-color: var(--changeColor);
    color: var(--whiteColor);
}

.switch-btn img {
    margin: 0 auto;
    display: block;
}

#convert-btn {
    background: var(--btnBg);
    color: var(--whiteColor);
    padding: 16px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    margin: 65px auto;
    transition: all 0.6s ease-in-out;
    display: block;
}

#convert-btn:hover {
    transform: scale(1.02);
}

@media (max-width: 992px) {
    .static-title {
        font-size: 32px;
    }

    .online_payment_blog {
        width: 100%;
        margin: 30px auto;
    }

    .online_payment_abs {
        width: 70px;
        height: 70px;
    }

    .online_payment_abs img {
        width: 30px;
        height: 30px;
    }

    .online_payment_title {
        text-align: center;
        font-size: 26px;
        margin: 10px;
    }

    #financeCalculator .form-control {
        font-size: 16px;
    }

    .exchange-box {
        width: 90%;
    }

    .currency {
        flex-wrap: wrap;
    }

    .exchange_transactions input[type="number"] {
        text-align: left;
    }
}

@media (max-width: 480px) {
    .exchange-box {
        padding: 20px;
        width: 90%;
    }
}