.history-img-main {
    margin: 0 auto;
}

.history_and_today_img_blog {
    width: 100%;
    height: 100%;
}

.history_and_today_img {
    width: 100%;
    height: 100%;
    max-height: 410px;
    object-fit: cover;
}

.history .row {
    align-items: stretch;
}

.history .d-flex>.history-col {
    height: 100%;
    display: flex;
    flex-direction: column;
}



.history-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 28px;
    color: var(--aboutColor);
    margin-bottom: 20px;

}

.history-text {
    font-weight: 400;
    font-size: 30px;
}

.history-col {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    position: relative;
    overflow: hidden;
    margin: 40px 0;
    transition: background-color 0.4s ease, box-shadow 0.4s ease, transform 0.4s ease;
}

@media (max-width: 768px) {
    .history-col {
        margin: 10px 0;
    }

    .history-img-main {
        margin: 15px auto;
    }

    .history-title {
        font-size: 26px;
        margin-bottom: 10px;
    }

    .history-text {
        font-size: 22px;
    }

}

.history-today-content {
    margin: 30px 0;
}

.history-today-content-title {
    color: var(--aboutColor);
    font-weight: 700;
    font-size: 36px;
    text-align: center;

}

.company-org-title {
    color: var(--aboutColor);
}

.history-today-content-flex {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 32px;
}



.history-today-content-left,
.history-today-content-right {
    flex: 1;
}

.history-today-content-left-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.history-today-content-left {
    display: flex;
    justify-content: center;
    align-items: center;
}


.history-today-content-right {
    font-weight: 300;
    font-size: 30px;
    line-height: 50px;
    display: flex;
    word-break: break-word;
    text-align: justify;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
}


.history-today-content-left,
.history-today-content-right {
    max-width: 48%;
}

.history-today-content-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    flex-wrap: wrap;
}

.history-today-content-right {
    order: 1;
}

.history-today-content-left {
    order: 2;
}

.reverse-order .history-today-content-right {
    order: 2;
}

.reverse-order .history-today-content-left {
    order: 1;
}

.history-today-center-img-blog {
    width: 760px;
    height: 488px;
    margin: 0 auto;

}

.history-today-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
}

.history-today-last-title {
    margin: 20px 0;
}

.history-today-content-text {
    font-size: 36px;
}

@media (max-width: 768px) {
    .history-today-content-flex {
        flex-direction: column;
    }

    .history-today-content-right,
    .history-today-content-left {
        order: unset !important;
    }

    .history-today-content-right {
        max-width: 100%;
    }

    .history-today-content-title {
        font-size: 26px;
    }

    .history-today-content-text {
        font-size: 22px;
    }

    .history-today-content-left, .history-today-content-right {
        max-width: 100%;
    }

    .history-today-center-img-blog {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 1200px) {
    .history-today-content-flex {
        align-items: stretch;
    }
}