.payments_balance_increase {
    margin: 60px 0;
}

.balance_increase {
    font-size: 40px;
    font-weight: 700;
    color: var(--activeColor);
    margin: 30px 0;
}

.banner__search_payments {
    max-width: 100%;
}

.banner__search_payments .btn::before {
    background-image: url("../../img/poster.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.payments-rel {
    position: relative;
    margin: 50px;
    border-radius: 10px;
}

.payments-link {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 2;
}

.payments-row {
    background-color: var(--customBg);
    border-radius: 50px;
}


.payments-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 50px;
    transition: transform 0.4s ease-in-out;
    display: block;
}

.payments-rel:hover .payments-img {
    transform: scale(1.05);
}

.banner__search_payments .btn::before {
    content: none;
}

.search-icon {
    width: 96px;
    height: 96px;
}

.payments_balance_increase .banner__search_payments button img {
    background-color: #fff !important;

}


.banner__search_payments .form-group {
    display: flex;
    align-items: center;
    border: 2px solid #ff5a3c;
    border-radius: 80px;
    padding: 5px 15px;
    background-color: #fefefe;
    box-shadow: 0 6px 16px rgba(255, 90, 60, 0.2);
    transition: box-shadow 0.3s ease;
    position: relative;
}

.banner__search_payments .form-group:focus-within {
    box-shadow: 0 8px 20px rgba(255, 90, 60, 0.35);
}

.banner__search_payments .form-control {
    border: none;
    box-shadow: none;
}

.banner__search_payments .form-control::placeholder {
    color: #999;
    font-weight: 400;
    font-size: 24px;
}

<<<<<<< HEAD

=======
.banner__search_payments .btn{
    border: none;
    outline: none;
    box-shadow: none;
}
>>>>>>> 69815476df7e0a253458288d1b4a8f4abbfe7ece
@media (max-width: 1400px) and (min-width: 992px) {
    .payments-rel {
        margin: 15px;
    }

    .payments-img {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
}

@media (max-width: 992px) {
    .payments-rel {
        margin: 15px;
    }

    .search-icon {
        width: 30px;
        height: 30px;
    }

    .banner__search_payments .form-control::placeholder {
        font-size: 12px;
    }
}