.privacy_policy .company-about-text {
    line-height: normal;
}

<<<<<<< HEAD
.privacy_policy_title {
=======
.static-title {
    font-family: var(--fontSarabun);
>>>>>>> 69815476df7e0a253458288d1b4a8f4abbfe7ece
    font-weight: 700;
    font-size: 64px;
    color: var(--aboutColor);
    text-align: center;
}

.privacy_policy_content {
    font-family: var(--fontSarabun);
    font-weight: 400;
    font-size: 36px;

}

@media(max-width: 768px) {
    .privacy_policy_title {
        font-size: 40px;
    }

    .privacy_policy_content {
        font-size: 24px;
    }
}