:root {
    --bgColor: rgb(236, 226, 200);
    --fontRoboto: "Roboto", sans-serif;
    --fontSarabun: "Sarabun", sans-serif;
    --fontPoppins: " Poppins", sans-serif;
    --fontInter: "Inter", sans-serif;
    --fontSans: "DM Sans", sans-serif;
    --blackColor: #000000;
    --whiteColor: #fff;
    --activeColor: #FF5E41;
    --menuColor: rgba(0, 0, 0, 1);
    --termsColor: rgba(34, 34, 34, 1);
    --rulesColor: rgba(122, 122, 122, 1);
    --footerBg: #222222;
    --aboutColor: rgba(255, 94, 65, 1);
    --aboutColorWhite: rgba(255, 255, 255, 1);
    --managementTextColor: rgba(2, 3, 59, 1);
    --pdfBackground: rgba(67, 53, 222, 1);
    --humanResourceBg: rgba(249, 250, 251, 1);
    --postalServicesBorder: rgba(237, 94, 59, 1);
    --navLinkColor: rgba(255, 94, 65, 0.5);
    --exampleBg: rgba(217, 217, 217, 1);
    --customsDefaultBg: rgba(217, 217, 217, 0.5);
    --newsDateColor: rgba(114, 114, 114, 1);
    --customBg: #D9D9D9;
    --logoColor: #032F52;
    --placeholderColor: #757D8A;
<<<<<<< HEAD
=======
    --btnBg: #141414;
    --changeColor: #ff5b3d;
>>>>>>> 69815476df7e0a253458288d1b4a8f4abbfe7ece

}